/* -----------------------
       Google Fonts
------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* -----------------------
       Common Styles
------------------------ */
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
    margin-top: 50px;
}
header, main, footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
}
.container{
    width: 1320px;
    margin-bottom: 130px; 
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    font-family: 'Poppins', sans-serif;
}
footer{
    background: #161616;
}
/* -----------------------
       Top Banner
------------------------ */
.banner-details{
    background: #161616;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 33px 80px 0 106px;
    column-gap: 24px;

}
.details{
    padding-right: 11%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-bottom: 110px;
}
.details h1, p, .btn{
    color: #FFFFFF;
}
.details h1{
    font-size: 70px;
    line-height: 80px;  
    padding: 70px 0 20px;
}
.details p{
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 30px;
}
.details .btn{
    background: #DD0000;
    border-radius: 5px;
    width: 187px;
    line-height: 56px;
    font-size: 20px;
    cursor: pointer;
    border: none;
}
.details .btn .fa-chevron-right{
    padding-left: 10px;
}
.banner{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: end;
    align-items: end;

}
.banner img{
    max-width: 100%;
}
/* -----------------------
       Live Reports
------------------------ */
.live-reports{
    display: grid;
    grid-template-columns: 312px auto;
    column-gap: 24px;
}
.navigation{
    height: 312px;
    background: #161616;
    border-radius: 10px;
}
.navigation ul{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
    padding: 30px;
}
.navigation li a{
    font-weight: 500;
    font-size: 20px;
    line-height: 64px;
    color: #161616;
    display: flex;
    background: #FFFFFF;
    border-radius: 10px;
    justify-content: center;
}
.navigation li a.active{
    background: #DD0000;
    color: #FFFFFF;
    transition: background-color 0.6s ease;
}
.navigation li a:hover{
    background: #DD0000;
    color: #FFFFFF;
    transition: background-color 0.6s ease;
}
.live-articles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 24px;
}
.live-news{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px #0000000d;
}
.live-news img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}
.news-details{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 15px;
}
.news-details h3, button{
    color: #161616;
}
.news-details button{
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    width: 100px;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}
.news-details h3{
    font-size: 1.125em;
    line-height: 27px;
    padding-bottom: 5px;
}
.news-icons span{
    font-size: 18px;
    line-height: 27px;
    color: #161616B2;
}
.news-icons span:last-child{
    padding-left: 30px;
}
.news-icons .fa-regular{
    padding-right: 10px;
}
.live-matches{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 2px #0000000d;
}
.matches{
    padding: 52px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.flags{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.flags img{
    display: block;
    height: 56px;
    width: 93px;
}
.flags h3{
    padding: 0 5px;
}
.match-details h3{
    font-size: 20px;
    line-height: 40px;
    color: #161616;
}
.match-details span{
    font-size: 16px;
    line-height: 30px;
    color: #4D4D4D;
}
/* -----------------------
       footer-area
------------------------ */
.footer-area{
    padding-top: 130px;
}
.footer-area h1{
    color: #FFFFFF;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
}
.footer-area hr{
    border: 1px solid #ffffff1a;
    margin: 50px 0;
}
.footer-nav ul{
    display: flex;
    justify-content: center;
    gap: 58px;
}
.footer-nav li a{
    font-size: 16px;
    line-height: 24px;
    color: #B9B9B9;
}
.social ul{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.social{
    margin-top: 50px;
}
.social li a{
    font-size: 60px;
    color: #B9B9B9;
    display: flex;
}

/* Tablet Devices */
@media only screen and (max-width:1420px) and (min-width:835px){
    
    .container{
        width: 100%;
    }
    .banner img{
        width: 100%;
    }
}

@media only screen and (max-width:834px) and (min-width:376px){
    
    .container{
        width: 100%;
    }
    .banner-details{
        grid-template-columns: repeat(2, 1fr);
        padding: 33px 17px 0 76px;
    }
    .banner img{
        width: 70%;
    }
    .details h1{
        font-size: 40px;
        line-height: 50px; 
    }
    .details p{
        font-size: 14px;
        line-height: 24px;
    }
    /* nav + article */
    .live-reports{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }
    .navigation{
        height: auto;
        background: none;
        border-radius: 0;
    }
    .navigation ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 22px;
        justify-content: space-between;
        height: auto;
        padding: 0;
        width: 100%;
    }
    .navigation li a{
        box-shadow: 0px 0px 1px 2px #0000000d;
    }
    .live-articles{
        grid-template-columns: repeat(2, 1fr);
    }
    /* footer */
    .footer-nav ul{
        flex-wrap: wrap;
        row-gap: 30px;
    }

}

/* Media Queries small devices*/
@media only screen and (max-width:375px){
    header, main, footer{
        padding: 0 25px;
    }
    .container{
        width: 100%;
        margin-bottom: 24px
    }
    .banner-details{
        grid-template-columns: repeat(1, 1fr);
        padding: 33px 33px 0;
        row-gap: 30px;
    }
    .banner{
        justify-items: center;
    }
    .details{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 0;
    }
    .details h1{
        font-size: 22px;
        line-height: 33px;
        padding-top: 0;
    }
    .details p{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 14px;
        line-height: 24px;
    }
    .details .btn{
        margin: 0 auto;
    }
    .live-reports{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }
    .navigation{
        height: auto;
        background: none;
        border-radius: 0;
    }
    .navigation ul{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 16px;
        padding: 0;
        justify-items: center;
    }
    .navigation li a{
        box-shadow: 0px 0px 1px 2px #0000000d;
        padding: 0 40px;
    }
    .live-articles{
        grid-template-columns: repeat(1, 1fr);
    }
        /* footer */
    .footer-area{
        padding-top: 24px;
    }
    .footer-area hr{
        margin: 24px 0;
    }
    .footer-nav ul{
        flex-direction: column;
        row-gap: 30px;
        align-items:center;
    }

} 
    